PORT=4003
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
REDIS_URL=redis://redis:6379

KEYCLOAK_AUDIENCE=crash-game-client
KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/crash-game/protocol/openid-connect/certs
